ccxt==4.3.83
pandas==2.2.3
numpy==1.26.4
matplotlib==3.9.2
python-telegram-bot==13.15
python-dotenv==1.0.1
scikit-learn==1.2.2
tqdm==4.66.5
requests==2.31.0
setuptools>=65.0.0
wheel>=0.38.0
Cython==0.29.36
